<!DOCTYPE html>
<html lang={{lang}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="http://localhost:5000/static/css/header.css" rel="stylesheet" />
</head>
<body>
    <p>Front page</p>
    <!-- header template -->
    {{{header}}}
    <!-- end of header template -->
    
    <!-- blog template -->
    {{{blog}}}
    <!-- end of blog template -->
    
    <!-- footer template -->
    {{{footer}}}
</body>
</html>